<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <ApplicationRevision>9</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <ManifestCertificateThumbprint>494A2536A96F42078BB144F415EACCA9E1E3A0B4</ManifestCertificateThumbprint>
    <ManifestKeyFile>FTP-Tool_TemporaryKey.pfx</ManifestKeyFile>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net8.0-windows\win-x64\app.publish\</PublishDir>
    <PublishUrl>C:\Users\hakan\Desktop\FTP-Tool\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net8.0-windows</TargetFramework>
    <UpdateEnabled>False</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2025-09-20T18:32:32.9036279Z||;True|2025-09-20T21:11:37.9183149+03:00||;True|2025-09-19T17:58:08.2885070+03:00||;True|2025-09-19T17:54:52.7194750+03:00||;False|2025-09-19T17:53:04.3755325+03:00||;False|2025-09-19T17:52:21.8715348+03:00||;True|2025-09-19T14:49:01.9442025+03:00||;True|2025-09-18T15:30:31.1590819+03:00||;True|2025-09-18T12:25:31.0903965+03:00||;True|2025-09-18T11:15:06.0868374+03:00||;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.8.0.x64">
      <Install>True</Install>
      <ProductName>.NET Desktop Runtime 8.0.20 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>